:root {
  --field-top-spacing: 20px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'BCSans', 'Verdana', 'Arial', 'sans-serif';

  font-size: 16px !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

fieldset {
  border: none !important;
}

.pg-menu-item,
.pg-menu-item > span {
  display: flex;
  align-items: center;
}

/* RJSF overrides */

#root_newToSso > .radio,
#root_projectLead > .radio,
#root_publicAccess > .radio {
  display: inline;
  margin-right: 10px;
}

.radio > label > span > input {
  margin: 10px 5px 0 0;
}

.checkbox > label > span > span {
  margin-left: 5px;
}

#root_agreeWithTerms + span {
  font-weight: bold;
  margin-left: 5px;
}

.form-group.field:not(.field-object) {
  margin-top: var(--field-top-spacing);
}

span.required {
  display: none;
}

li.text-danger {
  max-width: 380px;
}

label.control-label,
label.pg-input-label,
label.pg-textarea-label {
  font-weight: bold;
}

[type='checkbox'] + span {
  margin-left: 5px;
}

.form-group.field.field-boolean {
  margin: 0;
}

.form-group.field.field-boolean > legend {
  margin-top: var(--field-top-spacing);
}

/* override spacing for first array field element */
.field-array > div > div:nth-of-type(1) .field {
  margin-top: 0 !important;
}

/* override default input width */
.field-string {
  display: block;
  width: 100%;
  max-width: 400px;
}

textarea#root_bceidBody {
  width: 600px;
}

.control-label[for='root_additionalEmails'] {
  display: none;
}

.field-string .pg-input .pg-input-input {
  width: 100%;
  padding-right: 30px;
}

.pg-footer-footer {
  height: unset !important;
}

ul.error-detail {
  list-style: none;
  margin-left: 0;
}

.pg-select > label {
  display: none;
}

.pg-select {
  padding-top: 5px;
}

.pg-modal-header {
  font-weight: bold;
  display: flex;
  align-items: center;
}
