html,
body {
  padding: 0;
  margin: 0;
  font-family: 'BCSans', 'Verdana', 'Arial', 'sans-serif';

  font-size: 16px !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

fieldset {
  border: none !important;
}

/* RJSF overrides */

#root_newToSso > .radio,
#root_projectLead > .radio,
#root_publicAccess > .radio {
  display: inline;
  margin-right: 10px;
}

.radio > label > span > input {
  margin: 10px 5px 0 0;
}

.checkbox > label > span {
  margin-left: 5px;
  font-weight: bold;
}

.form-group.field {
  margin-top: 30px;
}

span.required {
  display: none;
}

li.text-danger {
  max-width: 380px;
}

@media screen and (min-width: 1200px) {
  .pg-input-input {
    width: 400px;
  }
}
