:root {
  --field-top-spacing: 20px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'BCSans', Verdana, Arial, sans-serif;
  font-size: 16px !important;
  color: #292929;
}

a {
  color: #1a5a96;
}

* {
  box-sizing: border-box;
}

fieldset {
  border: none !important;
}

.pg-menu-item,
.pg-menu-item > span {
  display: flex;
  align-items: center;
}

/* RJSF overrides */

#root_newToSso > .radio,
#root_usesTeam > .radio,
#root_projectLead > .radio {
  display: inline;
  margin-right: 10px;
}

.checkboxes-grid .checkboxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.5em;
}

/* Relative spacing the textarea is pushed over */
:root {
  --textarea-spacer: 5em;
}
/* Blank out description to prevent blocking */
.other-details > div:first-child {
  width: 0;
}
.other-details textarea {
  width: calc(100% - var(--textarea-spacer));
}
.other-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  bottom: 2.4em;
  left: var(--textarea-spacer);
  height: 0;
  margin-bottom: 3em;
}
.other-details::after {
  content: '100 characters max.';
  grid-column: 2;
  margin-left: auto;
  position: relative;
  right: var(--textarea-spacer);
  color: #abafb2;
}

.radio > label > span > input {
  margin: 10px 5px 0 0;
}

.checkbox > label > span > span {
  margin-left: 5px;
}

#root_agreeWithTerms + span {
  font-weight: bold;
  margin-left: 5px;
}

.form-group.field:not(.field-object) {
  margin-top: var(--field-top-spacing);
}

span.required {
  display: none;
}

li.text-danger {
  max-width: 380px;
}

label.control-label,
label.pg-input-label,
label.pg-textarea-label {
  font-weight: bold;
}

[type='checkbox'] + span {
  margin-left: 5px;
}

.form-group.field.field-boolean {
  margin: 0;
}

.form-group.field.field-boolean > legend {
  margin-top: var(--field-top-spacing);
}

/* override spacing for first array field element */
.field-array > div > div:nth-of-type(1) .field {
  margin-top: 0 !important;
}

/* override default input width */
.short-field-string {
  display: block;
  width: 100%;
  max-width: 400px;
}

textarea#root_bceidBody {
  width: 600px;
}

.field-string .pg-input .pg-input-input {
  width: 100%;
  padding-right: 30px;
}

.pg-input-input:read-only {
  background-color: #eaeaea;
  cursor: not-allowed;
}

.pg-select-input:disabled {
  cursor: not-allowed;
  background-color: #eaeaea;
  margin: -5px;
}

.pg-footer-footer {
  height: unset !important;
}

ul.error-detail {
  list-style: none;
  margin-left: 0;
}

.pg-select > label {
  display: none;
}

.pg-modal-header {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.multiselect {
  position: relative;
  outline: none;
}

.underline {
  text-decoration: underline;
}

.strong {
  font-weight: bold;
}

.normal {
  font-weight: 400;
}

.pg-modal-container {
  z-index: 1000;
}

.text-blue {
  color: blue;
}

.line-height-200 {
  line-height: 200%;
}

.link {
  font-size: 1rem;
  color: #1a5a96;
}

.link:hover {
  color: blue;
  text-decoration: none;
}

.link::after {
  content: url('data:image/svg+xml;utf8,<svg focusable="false" role="img" color="%231a5a96" title="fa icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="15px" class="sc-kgflAQ diecks"><path fill="currentColor" d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z"></path></svg>');
}

::part(iframe) {
  margin: auto;
  display: flex;
  min-height: 700px;
}

.comments-container {
  max-height: 300px;
  overflow-y: scroll;
}

.hidden-title {
  display: none;
}
