app_url                        = "http://localhost:3000"
app_env                        = "production"
allow_silver                   = "true"
allow_gold                     = "true"
gh_access_token                = ""
gh_secret                      = ""
sso_configuration_endpoint     = ""
subnet_a                       = ""
subnet_b                       = ""
keycloak_dev_url               = ""
keycloak_test_url              = ""
keycloak_prod_url              = ""
keycloak_dev_client_secret     = ""
keycloak_test_client_secret    = ""
keycloak_prod_client_secret    = ""
keycloak_v2_dev_url            = ""
keycloak_v2_test_url           = ""
keycloak_v2_prod_url           = ""
keycloak_v2_dev_client_secret  = ""
keycloak_v2_test_client_secret = ""
keycloak_v2_prod_client_secret = ""
bceid_webservice_proxy         = ""
ches_username                  = ""
ches_password                  = ""
ches_api_endpoint              = ""
ches_token_endpoint            = ""
custom_domain_name             = ""
db_username                    = ""
db_name                        = ""
db_hostname                    = ""
db_password                    = ""
iam_for_lambda                 = ""
