app_url                        = "http://localhost:3000"
app_env                        = "production"
gh_access_token                = ""
gh_secret                      = ""
sso_configuration_endpoint     = ""
subnet_a                       = ""
subnet_b                       = ""
keycloak_v2_dev_url            = ""
keycloak_v2_test_url           = ""
keycloak_v2_prod_url           = ""
keycloak_v2_dev_client_secret  = ""
keycloak_v2_test_client_secret = ""
keycloak_v2_prod_client_secret = ""
realm_registry_api             = ""
ches_username                  = ""
ches_password                  = ""
ches_api_endpoint              = ""
ches_token_endpoint            = ""
custom_domain_name             = ""
db_username                    = ""
db_name                        = ""
db_hostname                    = ""
db_password                    = ""
iam_for_lambda                 = ""
