services:
  sso-db:
    image: postgres:13
    container_name: sso-db
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - ./local/database-init.sql:/docker-entrypoint-initdb.d/database-init.sql
      - ./.bin/db-setup.sh:/docker-entrypoint-initdb.d/init-user-db.sh
      - sso-requests-data:/var/lib/postgresql/data
    networks:
      - css-net

  sso-portal-ui:
    container_name: sso-portal-ui
    image: sso-requests:latest
    entrypoint: yarn
    command: ['--cwd', './app', 'docker-build']
    ports:
      - 3000:3000
    environment:
      APP_ENV: develop
      API_URL: /app
      SSO_URL: https://dev.loginproxy.gov.bc.ca/auth/realms/standard
      SSO_CLIENT_ID: css-app-in-gold-4128
      SSO_REDIRECT_URI: http://localhost:3000
      SSO_AUTHORIZATION_RESPONSE_TYPE: code
      SSO_AUTHORIZATION_SCOPE: openid
      SSO_TOKEN_GRANT_TYPE: authorization_code
      KC_IDP_HINT: idir
      ENABLE_GOLD: 'true'
      MAINTENANCE_MODE_ACTIVE: 'false'
      SSO_REQUESTS_BACKEND_HOSTNAME: sso-requests
      APP_URL: http://localhost:3000
      INCLUDE_DIGITAL_CREDENTIAL: 'true'
    depends_on:
      - sso-requests
    networks:
      - css-net

  sso-requests:
    container_name: sso-requests
    image: sso-requests:latest
    entrypoint: ['/bin/bash', '-c', 'yarn --cwd ./localserver migrate-db && yarn --cwd ./localserver dev']
    ports:
      - 8080:8080
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - sso-db
    environment:
      PORT: 8080
      APP_URL: http://localhost:3000
      APP_ENV: local
      API_AUTH_SECRET: s3cr3t
      NODE_ENV: development
      ALLOW_SILVER: 'false'
      ALLOW_GOLD: 'true'
      DATABASE_URL: postgresql://postgres:postgres@sso-db:5432/ssorequests
      SSO_CLIENT_ID: css-app-in-gold-4128
      SSO_CONFIGURATION_ENDPOINT: https://dev.loginproxy.gov.bc.ca/auth/realms/standard/.well-known/openid-configuration
      KEYCLOAK_V2_DEV_USERNAME: admin
      KEYCLOAK_V2_DEV_PASSWORD: admin
      KEYCLOAK_V2_DEV_URL: http://dev-keycloak:9080
      KEYCLOAK_V2_TEST_USERNAME: admin
      KEYCLOAK_V2_TEST_PASSWORD: admin
      KEYCLOAK_V2_TEST_URL: http://test-keycloak:9081
      KEYCLOAK_V2_PROD_USERNAME: admin
      KEYCLOAK_V2_PROD_PASSWORD: admin
      KEYCLOAK_V2_PROD_URL: http://prod-keycloak:9082
      GH_BRANCH: main
      GH_OWNER: bcgov
      CHES_API_ENDPOINT: https://ches.api.gov.bc.ca/api/v1/email
      CHES_TOKEN_ENDPOINT: https://loginproxy.gov.bc.ca/auth/realms/comsvcauth/protocol/openid-connect/token
      CHES_USERNAME: test
      CHES_PASSWORD: test
      VERIFY_USER_SECRET: s3cr3t
      API_URL: http://localhost:8080
      REALM_REGISTRY_API: https://realm-registry-sandbox.apps.gold.devops.gov.bc.ca/api
      LOCAL_DEV: 'true'
      GRAFANA_API_TOKEN: s3cr3t
      GRAFANA_API_URL: https://sso-grafana-sandbox.apps.gold.devops.gov.bc.ca/api
      GOLD_IP_ADDRESS: '142.34.229.4'
      CYPRESS_RUNNER: 'true'
      INCLUDE_DIGITAL_CREDENTIAL: 'true'
    networks:
      css-net:
        aliases: [sso-requests-api]

  dev-keycloak:
    container_name: dev-keycloak
    image: ghcr.io/bcgov/sso:7.6.39-build.2
    depends_on:
      - sso-db
    ports:
      - 9080:9080
    environment:
      DB_POSTGRESQL_SERVICE_HOST: sso-db
      DB_POSTGRESQL_SERVICE_PORT: 5432
      DB_USERNAME: keycloak
      DB_PASSWORD: keycloak
      DB_DATABASE: keycloak
      SSO_ADMIN_USERNAME: admin
      SSO_ADMIN_PASSWORD: admin
      TZ: America/Vancouver
      JAVA_OPTS_APPEND: '-Djboss.socket.binding.port-offset=1000 -Djboss.persistent.log.dir=/opt/eap'
      KC_HEALTH_ENABLED: 'true'
    networks:
      css-net:
        aliases: ['dev-keycloak.localtest.me']

  test-keycloak:
    container_name: test-keycloak
    image: ghcr.io/bcgov/sso:7.6.39-build.2
    depends_on:
      - sso-db
    ports:
      - 9081:9081
    environment:
      DB_POSTGRESQL_SERVICE_HOST: sso-db
      DB_POSTGRESQL_SERVICE_PORT: 5432
      DB_USERNAME: keycloak
      DB_PASSWORD: keycloak
      DB_DATABASE: keycloak-test
      SSO_ADMIN_USERNAME: admin
      SSO_ADMIN_PASSWORD: admin
      TZ: America/Vancouver
      JAVA_OPTS_APPEND: '-Djboss.socket.binding.port-offset=1001 -Djboss.persistent.log.dir=/opt/eap'
      KC_HEALTH_ENABLED: 'true'
    networks:
      css-net:
        aliases: ['test-keycloak.localtest.me']

  prod-keycloak:
    container_name: prod-keycloak
    image: ghcr.io/bcgov/sso:7.6.39-build.2
    depends_on:
      - sso-db
    ports:
      - 9082:9082
    environment:
      DB_POSTGRESQL_SERVICE_HOST: sso-db
      DB_POSTGRESQL_SERVICE_PORT: 5432
      DB_USERNAME: keycloak
      DB_PASSWORD: keycloak
      DB_DATABASE: keycloak-prod
      SSO_ADMIN_USERNAME: admin
      SSO_ADMIN_PASSWORD: admin
      TZ: America/Vancouver
      JAVA_OPTS_APPEND: '-Djboss.socket.binding.port-offset=1002 -Djboss.persistent.log.dir=/opt/eap'
      KC_HEALTH_ENABLED: 'true'
    networks:
      css-net:
        aliases: ['prod-keycloak.localtest.me']

  dev-kc-migration:
    container_name: dev-kc-migration
    depends_on:
      - dev-keycloak
    image: tf-modules-migrator:latest
    environment:
      HEALTH_CHECK_URL: http://dev-keycloak.localtest.me:9080
      TF_VAR_keycloak_url: http://dev-keycloak:9080
      TF_VAR_username: admin
      TF_VAR_password: admin
      KC_ENV: dev
    build:
      context: .
      dockerfile: ./Dockerfile.tf-modules
    volumes:
      - sso-kc-terraform-dev:/terraform
    networks:
      - css-net

  test-kc-migration:
    container_name: test-kc-migration
    depends_on:
      - test-keycloak
    image: tf-modules-migrator:latest
    environment:
      HEALTH_CHECK_URL: http://test-keycloak.localtest.me:9081
      TF_VAR_keycloak_url: http://test-keycloak:9081
      TF_VAR_username: admin
      TF_VAR_password: admin
      KC_ENV: test
    build:
      context: .
      dockerfile: ./Dockerfile.tf-modules
    volumes:
      - sso-kc-terraform-test:/terraform
    networks:
      - css-net

  prod-kc-migration:
    container_name: prod-kc-migration
    depends_on:
      - prod-keycloak
    image: tf-modules-migrator:latest
    environment:
      HEALTH_CHECK_URL: http://prod-keycloak.localtest.me:9082
      TF_VAR_keycloak_url: http://prod-keycloak:9082
      TF_VAR_username: admin
      TF_VAR_password: admin
      KC_ENV: prod
    build:
      context: .
      dockerfile: ./Dockerfile.tf-modules
    volumes:
      - sso-kc-terraform-prod:/terraform
    networks:
      - css-net

volumes:
  sso-requests-data:
    driver: local
  sso-kc-terraform-dev:
    driver: local
  sso-kc-terraform-test:
    driver: local
  sso-kc-terraform-prod:
    driver: local
networks:
  css-net: {}
