<h1>Hello Pathfinder Friend,</h1>
<p>
  Your Pathfinder SSO production environment for BCeID <strong>integration request ID {{integration.id}}</strong> has
  been approved.
</p>
<p>
  Your resources will be available in the next 20 minutes or so, please log in to your dashboard to see the progress.
</p>
<p><strong>Project Name: </strong>{{integration.projectName}}</p>
<p><strong>Submitted By: </strong>{{integration.requester}}</p>
<p>If you are not the requester, this email serves only to notify you of the request status.</p>
{{> footer }}
