<h3>Dear Pathfinder SSO friend,</h3>
<p>
  The user <strong>{{username}}</strong> has an inactive guid in our system and has been automatically removed from your
  team <strong>{{teamName}}</strong>.
</p>
<p>
  Please log in to the Common Hosted Single Sign-On App, go to the My Teams tab, and review your team's membership. You
  can update it if needed to ensure it reflects the current team setup.
</p>
<p>
  This review does not affect your access to the CSS App—it’s just to help keep your team membership accurate after the
  recent update. For more information on team management, please see our
  <a href="https://mvp.developer.gov.bc.ca/docs/default/component/css-docs/CSS-App-My-Teams">wiki</a>.
</p>
{{> footer }}
