<p>You are invited to join team #{{teamId}}</p>
<p>
  To accept this invitation, please follow this <a href="{{apiUrl}}/teams/verify?token={{invitationLink}}">link</a> to
  view the project in your dashboard. This link will expire in <strong>2 business days.</strong>
</p>
<p>
  If you think you're receiving this invitation by accident, or have any questions, please contact the SSO Pathfinder
  team by
  <a href="https://chat.developer.gov.bc.ca/channel/sso" target="_blank" title="Rocket Chat" rel="noreferrer">
    Rocket.Chat
  </a>
  or reply to this email
</p>

<p>Thank you,</p>
<p>SSO Pathfinder Team</p>
