<strong>Project name: </strong>{{integration.projectName}}<br />
{{#if integration.authType == 'browser-login'}}
<strong>Identity Providers: </strong>{{integration.idpNames}}<br />
{{/if}}
<strong>Environments: </strong>{{integration.envNames}}<br />
<strong>Accountable person(s): </strong>{{integration.accountableEntity}}<br />
<strong>Submitted by: </strong>{{integration.requester}}<br />
{{#if integration.authType == 'browser-login'}}
<strong>URIs:</strong>
<ul>
  {{#each integration.redirectUris}}
  <li>
    {{this.name}}:
    <ul>
      {{#each this.uris}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
  </li>
  {{/each}}
</ul>
{{/if}}
