<h1>Your Pathfinder SSO request #{{request.id}} is approved.</h1>
<p>
  <strong>Project name: </strong>{{request.projectName}}<br /><strong>Submitted by: </strong
  >{{request.idirUserDisplayName}}
</p>
<p>
  {{request.idirUserDisplayName}}, please
  <a href="{{appUrl}}/my-requests" title="Log in" target="_blank" rel="noreferrer">Log in</a>
  to your dashboard to access JSON Client Installation File. If you are not the requester, this email serves only to
  notify you of the request status.
</p>
{{> footer }}
