<h1>Hello IDIM Team,</h1>
<p>
  We are notifying you that a new dev and/or test integration request has been submitted. The request details are below:
</p>
<ul>
  <li><strong>Project name: </strong>{{integration.projectName}}</li>
  <li><strong>Accountable person(s): </strong>{{integration.accountableEntity}}</li>
  <li><strong>Associated Email(s): </strong>{{emails}}</li>
  <li>
    <strong>URIs:</strong>
    <ul>
      {{integration.devUris}} {{integration.testUris}}
    </ul>
  </li>
  <li>
    <strong>Identity Providers Required:</strong>
    <ul>
      <li>Dev environment IDP(s): {{integration.devIdps}}</li>
      <li>Test environment IDP(s): {{integration.testIdps}}</li>
    </ul>
  </li>
</ul>
{{> footer }}
