<h1>Hello IDIM Team,</h1>
<p>
  We are notifying you that a new dev and/or test integration request has been submitted. The request details are below:
</p>

<ul>
  <li><strong>Project name:</strong> {{request.projectName}}</li>
  <li><strong>Accountable person:</strong> {{request.idirUserDisplayName}}</li>
  <li>
    <strong>URIs:</strong>
    <ul>
      {{request.devUris}} {{request.testUris}}
    </ul>
  </li>
  <li><strong>Identity Providers Required:</strong> {{request.idps}}</li>
</ul>

<p>Thank you,</p>

<p>Pathfinder SSO team.</p>
