<h3>Hello Pathfinder SSO friend,</h3>
<p>Your Pathfinder SSO change request for integration ID {{integration.id}} is successfully submitted.</p>
<p>Below is a summary of your integration request details:</p>
{{> integrationDetail }} {{> processingTime }} {{#if waitingBceidProdApproval}} {{> hr }} {{> createBceidBottom }}
{{/if}} {{#if waitingGithubProdApproval}} {{> hr }} {{> createGithubBottom }} {{/if}}{{#if
waitingDigitalCredentialProdApproval}} {{> hr }} {{> createDigitalCredentialBottom }} {{/if}} {{> footer }}
