<h1>Hello Pathfinder SSO friend,</h1>
<p>Thank you for your integration request. Below is a summary of your integration request details.</p>
<ul>
  <li><strong>Project name: </strong>{{integration.projectName}}</li>
  <li><strong>Accountable person(s): </strong>{{integration.accountableEntity}}</li>
  <li>
    <strong>URIs:</strong>
    <ul>
      {{integration.devUris}} {{integration.testUris}}
    </ul>
  </li>
  <li><strong>Identity Providers Required: </strong>{{integration.devIdps}}</li>
</ul>
<p><strong>Submitted by: </strong>{{integration.requester}}</p>
<p>
  As you've requested an integration with BCeID, any production integration request requires you to work with the
  Identity and Information Management (IDIM) team.
</p>
<ul>
  <li>
    <strong>URIs:</strong>
    <ul>
      {{integration.prodUris}}
    </ul>
  </li>
</ul>
<h1>Next Steps</h1>
<ol>
  <li>
    <strong>
      On a best effort basis, the BCeID team will endeavour to reach out to you within 2-3 business days to schedule an
      on-boarding meeting.
    </strong>
  </li>
  <li><strong>Please have answers to the questions below, before your meeting with the IDIM team.</strong></li>
</ol>
<ul>
  <li>What is your estimated volume of initial users?</li>
  <li>Do you anticipate your volume of users will grow over the next three years?</li>
  <li>When do you need access to the production environment by?</li>
  <li>When will your end users need access to the production environment?</li>
</ul>
{{> footer }}
