<p>Hello SSO friend,</p>
<p>
  You have been added to <strong>{{team.name}} (#{{team.id}})</strong> and assigned the
  <strong>Team {{capitalize role}}</strong> role, which gives you the
  <strong>privilege to {{getRolePrivelege role}}</strong> the integration.
</p>
<p>
  If you think you have been added by accident, or have any other questions, please contact the SSO team by the
  <a
    href="{{teamsChannelUrl}}"
    target="_blank"
    title="Microsoft Teams Keycloak How-to Channel"
    rel="noopener noreferrer"
  >
    Microsoft Teams Keycloak How-to Channel
  </a>
  or reply to this email.
</p>

<p>Thank you,<br />SSO Team</p>
