<h3>Hello Pathfinder SSO friend,</h3>
<p>
  Your Pathfinder SSO request ID {{integration.id}} is successfully approved. {{#if hasBceid}} {{> bceidWarning}}
  {{/if}}
</p>
<p>Below is a summary of your integration request details:</p>
{{> integrationDetail }} {{#if waitingBceidProdApproval}} {{> createBceidBottom }} {{/if}} {{#if
waitingOTPProdApproval}} {{> applyOTPBottom }} {{/if}} {{#if waitingGithubProdApproval}} {{> applyGithubBottom }}
{{/if}}{{#if waitingBcServicesCardProdApproval}} {{> createBcServicesCardBottom }} {{/if}}{{#if
waitingSocialProdApproval}} {{> applySocialBottom }} {{/if}} {{> dashboardLogin }} {{> ssoUpdatesMailingListMessage }}
{{#if (isNonProdDigitalCredentialRequest integration)}} {{> digitalCredentialInfoContact }} {{/if}} {{> footer }}
