<strong>Next Steps for your integration with GitHub:</strong>
<p>
  As you've requested an integration with GitHub, any production integration request requires you to obtain an exemption
  to the IM/IT standards.
  <a
    href="https://www2.gov.bc.ca/gov/content/governments/services-for-government/policies-procedures/im-it-standards/im-it-standards-faqs"
    title="IM/IT Standards Frequently Asked Questions"
    target="_blank"
    rel="noreferrer"
    >IM/IT Standards Frequently Asked Questions</a
  >
</p>
<ol>
  <li>
    Please proceed to complete this form:
    <a
      href="https://www2.gov.bc.ca/gov/content/governments/services-for-government/policies-procedures/im-it-standards/exemptions"
      title="IIM/IT Standards Exemptions"
      target="_blank"
      rel="noreferrer"
      >IIM/IT Standards Exemptions</a
    >
  </li>
  <li>
    Once the exemption has been granted, please email us with a copy of it and we will happily set you production
    integration with GitHub
  </li>
</ol>
<div style="display: none">&nbsp;</div>
