<strong>Next Steps for your integration with BC Services Card:</strong>
<p>
  As you've requested an integration with BC Services Card, any production integration request requires you to work with
  the Identity and Information Management (IDIM) team.
</p>
<ol>
  <li>
    <strong
      >On a best effort basis, the BC Services Card team will endeavour to reach out to you within 2-3 business days to
      schedule an on-boarding meeting.</strong
    >
  </li>
  <li>
    <strong>Please have answers to the questions below, before your meeting with the IDIM team.</strong>
    <ul>
      <li>What is your estimated volume of initial users?</li>
      <li>Do you anticipate your volume of users will grow over the next three years?</li>
      <li>When do you need access to the production environment by?</li>
      <li>When will your end users need access to the production environment?</li>
    </ul>
    <div style="display: none">&nbsp;</div>
  </li>
</ol>
