<strong>Next Steps for your integration with BCeID:</strong>
<p>Please note we've also informed the Identity and Information Management (IDIM) team of this deletion.</p>
<p>
  Please work with the IDIM team on any additional processes as part of this deletion.
  <a
    href="https://www2.gov.bc.ca/gov/content/governments/services-for-government/information-management-technology/identity-and-authentication-services/bceid-authentication-service"
    title="BCeID Authentication Service"
    target="_blank"
    rel="noreferrer"
    >BCeID Authentication Service</a
  >
</p>
