name: E2E Smoke Test

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
        type: choice
        options:
          - info
          - warning
          - debug
  # Only trigger, when the build workflow succeeded
  workflow_run:
    workflows:
      - Terraform
    branches:
      - dev
    types:
      - completed
    paths:
      - app/**
      - lambda/**

jobs:
  trigger-remote-workflow:
    runs-on: ubuntu-latest
    steps:
      - name: Start Test in sso-requests-e2e repo
        if: ${{ github.event.workflow_run.conclusion == 'success' }}
        env:
          GITHUB_CONTEXT: ${{ toJSON(github) }}
        run: |
          echo "$GITHUB_CONTEXT"
          curl \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: token ${{ secrets.GH_ACCESS_TOKEN }}" \
            https://api.github.com/repos/bcgov/sso-requests-e2e/actions/workflows/main-e2e.yml/dispatches \
            -d '{"ref":"main", "inputs":{"smoketest":"true"}}'
