name: Run Tests and Lints

on: [push, pull_request]

jobs:
  test_pre-commit:
    runs-on: ubuntu-20.04
    steps:
      - uses: hmarr/debug-action@v2
      - uses: actions/checkout@v3

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "dir=$(yarn cache dir)" >> $GITHUB_OUTPUT
      - name: Cache Node dependencies
        uses: actions/cache@v3
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: ${{ runner.os }}-yarn-

      - name: Install asdf
        uses: asdf-vm/actions/setup@v1
      - name: Cache asdf tools
        uses: actions/cache@v3
        with:
          path: |
            /home/runner/.asdf
          key: ${{ runner.os }}-${{ hashFiles('**/.tool-versions') }}

      - name: Install required tools
        run: |
          sudo apt install uuid uuid-dev
          cat .tool-versions | cut -f 1 -d ' ' | xargs -n 1 asdf plugin-add || true
          asdf plugin-update --all
          asdf install
          asdf reshim

      - name: Rerun Pre-Commit Hooks on CI
        run: |
          pip install -r requirements.txt
          asdf reshim
          pre-commit run --color=always --show-diff-on-failure --all-files

      - name: Install dependencies for frontend
        run: make app_install

      - name: Install dependencies for backend
        run: make server_install

      - name: Run frontend unit tests
        run: |
          yarn test --coverage
          yarn build
        working-directory: ./app

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4.0.1
        env:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: bcgov/sso-requests-app

      - name: Setup postgres
        env:
          PGUSER: postgres
        run: |
          pg_ctl start
          createdb runner || true
          chmod +x ./db-setup.sh
          ./db-setup.sh ssorequests_test
        working-directory: ./.bin

      - name: Run backend integration tests
        env:
          PGUSER: postgres
          DATABASE_URL: 'postgresql://localhost:5432/ssorequests_test'
        run: |
          yarn test --coverage
        working-directory: ./lambda

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4.0.1
        env:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: bcgov/sso-requests-backend

  commitlint:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: wagoid/commitlint-github-action@v5.2.2
